RCLONE_CONFIG_R2_TYPE=s3
RCLONE_CONFIG_R2_PROVIDER=Cloudflare
RCLONE_CONFIG_R2_ACCESS_KEY_ID={{ box_secrets.R2_ACCESS_KEY_ID | quote }}
RCLONE_CONFIG_R2_SECRET_ACCESS_KEY={{ box_secrets.R2_SECRET_ACCESS_KEY | quote }}
RCLONE_CONFIG_R2_ENDPOINT=https://{{ box_r2_account }}.r2.cloudflarestorage.com
RCLONE_CONFIG_R2_NO_CHECK_BUCKET=true
